.panel(class="panel-{{context}}").order
  .panel-heading
    h4.panel-title.customer
      a.customer(data-toggle="collapse" data-parent="#orders-panel-group" href="#order-{{id}}-panel") {{customer}}
  .panel-collapse.collapse(id="order-{{id}}-panel")
    table.table.table-striped
      thead
        tr
          th.quantity Quantity
          th.product Product
          th.actions
      tbody
        | {{#items}}
        tr.order-item
          td.quantity {{quantity}}
          td.product {{product}}
          td.action
            form.form.price(hidden)
              .input-group
                span.input-group-addon $
                input.form-control(type='number' name='price' step='0.05' placeholder='price')
            .btn-group.action
              button.btn.action(type="button") {{action}}
              button.btn.dropdown-toggle(data-toggle="dropdown")
                span.caret
              ul.dropdown-menu
                li: a.action(href='#') Sell
                li: a.action(href='#') Hold
                li: a.action(href='#') Short
                li: a.action(href='#') Cancel
                li.divider
                li: a.action(href='#') Undo
        | {{/items}}
    .panel-body
      form.form
        textarea.form-control(name="comment" placeholder="Comment") {{ comment }}
    .panel-footer
      span.total $ {{total}}
| {{/.}}
