tr.product(data-product="{{product}}")
  td.type {{type}}
  td.product {{product}}
  td.price {{pricePer}}
  td.actions
    button.edit-product.btn.btn-xs.btn-primary: span.glyphicon.glyphicon-pencil
    button.delete-product.btn.btn-xs.btn-danger: span.glyphicon.glyphicon-trash
