main>section
  display none
  &:target
    display inherit

h1 > small
  margin-left 1em

tr
  vertical-align middle

[hidden]
  display none !important

.glyphicon-spin
  animation: spin 1s infinite linear;

button .fa, button .glyphicon
  margin 1em

@-webkit-keyframes spin
  0%
    transform rotate(0deg);
  100%
    transform rotate(359deg);
@keyframes spin
    transform rotate(0deg);
  100%
    transform rotate(359deg);

.synchronizing
  p.alert
    display none
.synchronizing.working
  display inherit
  p.working
    display inherit
.synchronizing.success
  display inherit
  p.success
    display inherit
.synchronizing.error
  display inherit
  p.error
    display inherit
