$icon-font-path = "/components/bootstrap/dist/fonts/"
@require 'bootstrap'
// If this element has a class, then show the element in the container
// which also has that class. Show nothing else.

html
  overflow-y scroll // Always show scrollbar on right
  height 100%

body
  height 100%
  min-width 270px
  background linear-gradient(rgba(white,99%),rgba(white,99%)),
              url(logo.svg) center no-repeat fixed
  .alerts > *
    display none
  for state in (synchronizing fatal offline online)
    &.{state} .alerts > .{state}
      display inherit

main
  position relative // so we can absolutely position children
  &.paged
    > .page
      display none
    > .page:target
      display inherit

.paged
  > .page
    display none
  for state in (checking downloading cached noupdate updateready fetching error waiting)
    &.{state}
      > .page.{state}
        display inherit

.huge
  font-size 2.85em

.massive
  font-size 5em

.alerts
  position absolute
  top 0
  left 0
  right 0

.alerts .synchronizing
  opacity 0.8
  & > *
    display none
  for state in (working error success)
    &.{state} > .{state}
      display inherit

#loading logo
  opacity 0.2

.page-header
  h1
    span.icon:first-child
      margin-right 0.4em
      vertical-align top
  >button.icon:last-child
    float right
    position relative
    margin-top -3.3em
h1 > small
  margin-left 1em

tr
  vertical-align middle

[hidden]
  display none !important

// Fixes some button spacing
button .fa, button .glyphicon
  margin 1em

// Animation for spinners
@-webkit-keyframes spin
  0%
    transform rotate(0deg);
  100%
    transform rotate(359deg);
@keyframes spin
    transform rotate(0deg);
  100%
    transform rotate(359deg);

.glyphicon-spin
  animation: spin 1s infinite linear;


#choose-spreadsheet
  form
    position relative
    .spinner
      position absolute
      right 0


#inventory
  table
    th
      font-size small
    .total, .available
      text-align center
    tbody
      tr
        td
          line-height 3em // more tappable space

#dashboard
  
#orders
  .panel-title
    a
      display block // make the whole header clickable
    a:hover
      text-decoration none // don't underline on hover
  form.filter
    position relative
    .clear
      cursor pointer
      position absolute
      top 0.8em
      right 0.5em
      font-size large
      z-index 2
      opacity 0.3
  .list-group-item.OPEN
    @extend .list-group-item-info
  .list-group-item.HOLD
    @extend .list-group-item-warning
  .list-group-item.SHORT
    @extend .list-group-item-danger
  .list-group-item.SOLD
    @extend .list-group-item-success
    
  .order-item
    .details
      margin 0.5em auto
      vertical-align middle
    form
      display none
      text-align right
      .btn-group
        //
  .order-item .details small
    margin auto 1em

  // Show the relevant forms in order items
  .order-item.OPEN
    form.open
      display inherit
  .order-item.HOLD
    form.hold
      display inherit
  .order-item.SOLD
    form.sold
      display inherit
      small.price
        padding-right: 1em
  .order-item.SHORT
    form.short
      display inherit
  .order-item.selling
    form.open, form.hold, form.short, form.sold
      display none
    form.selling
      display inherit
  .order
    .total .form-group
      margin-bottom: 0
    output
      display inline
      &:empty:before
        content "$ 0.00"
  form.total
    output, label
      font-size large
    output
      margin-left 1em

  // The total in the footer

