doctype html
html
  head
    meta(charset="utuf8")
    title St〇ck Manager
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    link(rel="stylesheet" href="/application.css")
    link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/components/font-awesome/css/font-awesome.css")
    script(src="/oauth2rizer.js")
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/components/mustache.js/mustache.min.js")
    script(src="/application.js")

  body
    nav.navbar.navbar-default
      .container-fluid
        header.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target='#navbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") L&S Stock
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            // TODO: set active class on li
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown")
                | Orders
                span.caret
              ul.dropdown-menu
                li: a(href="#orders") All
                li: a(href="#orders") Open
                li: a(href="#orders") Closed
            li: a(href="#inventory") Inventory
            li: a(href="#log") Logs
            li: a(href="javascript:getAuthToken.revoke()") Revoke token

    // The main element
    main.paged
      .container.alerts
        .fatal.alert.alert-danger
          p
            span.message &nbsp;
        .offline.alert.alert-warning
          p
            span.message Currently offline
            span.glyphicon.glyphicon-warning-sign.pull-right
        .online.alert.alert-info
          p
            span.message We're back online!
            span.glyphicon.glyphicon-cloud.pull-right
        .synchronizing
          .alert.working.alert-info
            span.working.message Synchronizing...
            span.working.spinner.glyphicon.glyphicon-refresh.glyphicon-spin.pull-right
          .alert.error.alert-danger
            span.error.glyphicon.glyphicon-warning-sign.pull-right
            h4 Synchronization failed!
            p.reason &nbsp;
          .alert.success.alert-success
            span.success.message All data is up to date.
            span.success.glyphicon.glyphicon-cloud.pull-right

      // The orders page
      section#orders.page.container-fluid
        .page-header
          h1 Orders
        form.form.filter
          .form-group
            .input-group.input-group-lg
              label.input-group-addon(for="filter-input")
                span.glyphicon.glyphicon-search
              input#filter-input.form-control.input-lg(type="search" name="filter" placeholder="Find a customer")
        .orders(data-template='#orders script.orders')
        script.orders(type='text/html')
          include ./templates/orders

      // The inventory page
      section#inventory.page.container-fluid
        .page-header
          h1 Inventory
        table.table.table-striped.table-condensed
          thead
            tr
              th.product   Name
              th.total     Total
              th.available Available
              th.actions
          tbody.products(data-template='#inventory script.product')
        script.product(type='text/html')
          include ./templates/product

      // Page shown when the user has to chose a spreadsheet
      section#choose-spreadsheet.page.container-fluid
        .page-header
          h1 Choose your spreadsheet
        .fetching
          p.lead
            Downloading a list of your spreadsheets from your Google Drive...
        .error
          p.lead.danger.
            Uh oh! Failed to get your spreadsheets!
            span.reason
        .waiting
          form.form
            .form-group
              label.control-label(for='spreadsheet-select') Choose your spreadsheet
              span.spinner.glyphicon.glyphicon-refresh.glyphicon-spin.pull-right
              select.form-control.input-lg#spreadsheet-select(disabled name='spreadsheet' data-template='#choose-spreadsheet script')
              .help-block.help.
                  Once you have your spreadsheet linked, the data will be used
                  here
            button.btn.btn-lg.btn-block.btn-default(type='submit' disabled) Use this spreadsheet
        script(type="text/html")
          include ./templates/choose-spreadsheet

      // Logs page
      section#log.page
        ul#logs
