extends ./layout.jade
block main
  header.page-header
    h1.page-title
      | Orders
      button.add-product.btn.btn-primary.pull-right: span.glyphicon.glyphicon-plus
  #orders
    .panel-group.orders
