section#choose-spreadsheet.page.paged.container
  .page-header
    h1
      span.icon.glyphicon.glyphicon-list-alt
      | Spreadsheet
  .page.downloading
    span.spinner.glyphicon.glyphicon-refresh.glyphicon-spin.pull-right
    p.lead.text-info Downloading a list of your spreadsheets from your Google Drive...
  .page.error
    p.lead.text-danger Uh oh! Failed to get your spreadsheets!
    p.reason.text-danger
  .page.updateready
    form.form
      .form-group
        label.control-label(for='spreadsheet-select') Choose your spreadsheet
        select.form-control.input-lg#spreadsheet-select(name='spreadsheet' data-template='#choose-spreadsheet script')
        span.spinner.glyphicon.glyphicon-refresh.icon-spin(hidden)
        .help-block.help.
            Once you have your spreadsheet linked, the data will be used
            here
      button.btn.btn-lg.btn-block.btn-default(type='submit' disabled) Use this spreadsheet
  script(type="text/html")
    include ./templates/choose-spreadsheet
