extends layout

block main
  section.page#dashboard(data-template="/dashboard.html")
  section.page#settings(data-template="/settings.html")
  section.page#orders(data-template="/orders.html")
  section.page#inventory(data-template="/inventory.html")
  section.page#log(data-template="/log.html")
  section.page#spreadsheet(data-template="/spreadsheet.html")
  section.page#authorize
    .page-header
      h1 Sign in to your Google account
    p.lead.
      To access your spreadsheet, you need to sign in to Google. Click the button
      to get started.
    #google-signin
