.page-header
  h1 
    span.icon.glyphicon.glyphicon-scale
    | Inventory
  button.btn.btn-default.icon.glyphicon.glyphicon-plus(type='button' action='NewProduct')

form.form.filter(name='filter')
  .form-group
    .input-group.input-group-lg
      label.input-group-addon(for="filter-input")
        span.glyphicon.glyphicon-search
      input#filter-input.form-control.input-lg(type="search" name="filter" placeholder="Find a product")
    span#clear-filter.clear.glyphicon.glyphicon-remove-circle
      
table.table.products(data-collection="products")
  thead
    tr
      th.type Type
      th.product Name
      th.total.number Total
      th.available.number Available
  tbody.products(data-template='script.product')
  script.product(type='text/html'): include ./templates/inventory
