doctype html
html(manifest="index.appcache")
  head
    meta(charset="utuf8")
    title St〇ck Manager
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    link(rel="stylesheet" href="/css/application.css")
    link(rel="stylesheet" href="/components/font-awesome/css/font-awesome.css")
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/components/mustache.js/mustache.min.js")
    script(src="/js/oauth2rizer.js")
    script(src="/js/indexthebee.js")
    script(src="/js/mvstar.js")
    script(src="/js/application.js")

  body
    nav
      block nav

    aside.class-paged
      block messages

    main.target-pages.container
      block main
