section#synchronize
  .page-header
    h1 Synchronize
  p.lead.
    Normally the app synchronizes regularly with the spreadsheet. If you want
    to force a refresh, click this button.
  .form.form
    .form-group.text-center
      button.btn.btn-lg.btn-primary(type="submit" name="synchronize") Synchronize

section#upgrade
  .page-header
    h1 Update
  p.lead.
    Checks for updates to the app, and apply them if they're there.
  .form.form
    .form-group.text-center
      button.btn.btn-lg.btn-primary(type="submit" name="upgrade") Update the app

section#database
  .page-header
    h1.text-warning Clear local database
  p.lead.
    If you wish, you can remove all your local orders and inventory, and then
    sync them back from the spreadsheet. Use with caution.
  .form.form
    .form-group.text-center
      button.btn.btn-lg.btn-warning(type="submit" name="clear-database") Clear database

section#powerwash
  .page-header
    h1.text-danger Reset
  p.lead
    | Use this if you need to reset all of the app information.
    strong.text-danger You will have to set it up again if you change your mind!
  form.form(name="powerwash")
    .form-group.text-center
      button.btn.btn-lg.btn-danger(name="powerwash") Reset
