.page-header
  h1
    span.icon.glyphicon.glyphicon-wrench
    | Settings

section#choose-spreadsheet
  form.form
    .form-group
      span.icon.glyphicon.glyphicon-refresh.spin.pull-right
      label(for="spreadsheet-select")
        | Orders & Inventory spreadsheet
      select#spreadsheet-select.form-control(name="spreadsheet" data-template="#choose-spreadsheet script.options")
        option Select a spreadsheet
        | {{#spreadsheets}}
        option(value="{{id}}") {{{name}}}
        | {{/spreadsheets}}
      .help-block.initial.
        Your order and inventory will be kept in this sheet, and the app will
        read and write from/to there. You will have to grant permission!
    .form-group.text-center
      button.btn.btn-primary(type="submit" name="submit") Use this spreadsheet
