form.form(data-product="{{id}}")
  .form-group
    .input-group
      .input-group-btn
        button.btn.btn-primary(type="button" name='minus1')
          span.icon.glyphicon.glyphicon-minus
      input.form-control(type="number" name="total" value="{{total}}")
      .input-group-btn
        button.btn.btn-primary(type="button" name='plus1')
          span.icon.glyphicon.glyphicon-plus
