$icon-font-path = "/components/bootstrap/dist/fonts/"
@require 'bootstrap'
// If this element has a class, then show the element in the container
// which also has that class. Show nothing else.

html
  overflow-y scroll // Always show scrollbar on right
  height 100%

body
  height 100%
  min-width 270px
  background linear-gradient(rgba(white,90%),rgba(white,90%)),
              url(../images/logo.svg) center no-repeat fixed

nav
  .navbar
    margin-bottom 0
  .navbar-brand
    img
      height 1em
    span.icon
      margin-right 0.285em
      vertical-align top
  margin-bottom 0 !important

main
  position relative // so we can absolutely position children
  background rgba(white, 0.7)

.target-pages
  > .page
    display none
  > .page:target
    display inherit

.class-paged
  > *
    display none
for k in (error offline online synchronizing appcache)
  body.{k}
    .class-paged
      > .{k}
        display inherit

.huge
  font-size 2.85em

.massive
  font-size 5em

body 
  aside
    position relative
    z-index 1
    .alert
      opacity 0.8
      position absolute
      top 0
      left 0
      right 0
      .icon
        position absolute
        right 1em
        top 1em

#loading logo
  // 

.page-header
  h1
    span.icon:first-child
      margin-right 0.4em
      vertical-align top
  >button.icon:last-child
    float right
    position relative
    margin-top -3.3em
h1 > small
  margin-left 1em

tr
  vertical-align middle

[hidden]
  display none !important

// Fixes for filter clear buttons
form.filter
  position relative
  .clear
    cursor pointer
    position absolute
    top 0.8em
    right 0.5em
    font-size large
    z-index 2
    opacity 0.3

// Animation for spinners
@-webkit-keyframes spin
  0%
    transform rotate(0deg);
  100%
    transform rotate(359deg);
@-moz-keyframes spin
  0%
    transform rotate(0deg);
  100%
    transform rotate(359deg);
@keyframes spin
    transform rotate(0deg);
  100%
    transform rotate(359deg);
// Animation for pulsing
@-webkit-keyframes pulse
  0%
    opacity 1
  50%
    opacity .4
  100%
    opacity .99
@-moz-keyframes pulse
  0%
    opacity 1
  50%
    opacity .4
  100%
    opacity .99
@keyframes pulse
  from
    opacity 1
  50%
    opacity .4
  to
    opacity .99

.icon.spin
  animation: spin 1s infinite linear;

.icon.pulse
  animation: pulse 3s infinite ease-in-out;


#spreadsheet
  form
    position relative
  .icon.spin
    display none
&.downloading, &.checking
  .icon.spin
    display inherit !important

#inventory
  table
    th
      font-size small
    td
      vertical-align middle
    td, td
      .value
        display block
    .number
      text-align center
  h4
    span
      margin-left 1em
    

#dashboard
  
#orders
  .panel-title
    a
      display block // make the whole header clickable
    a:hover
      text-decoration none // don't underline on hover
  .list-group-item.OPEN
    @extend .list-group-item-info
  .list-group-item.HOLD
    @extend .list-group-item-warning
  .list-group-item.SHORT
    @extend .list-group-item-danger
  .list-group-item.SOLD
    @extend .list-group-item-success
    
  .order-item
    .details
      margin 0.5em auto
      vertical-align middle
    form
      display none
      text-align right
      .btn-group
        //
  .order-item .details small
    margin auto 1em

  // Show the relevant forms in order items
  .order-item.OPEN
    form.open
      display inherit
  .order-item.HOLD
    form.hold
      display inherit
  .order-item.SOLD
    form.sold
      display inherit
      small.price
        padding-right: 1em
  .order-item.SHORT
    form.short
      display inherit
  .order-item.selling
    form.open, form.hold, form.short, form.sold
      display none
    form.selling
      display inherit
  .order
    .total .form-group
      margin-bottom: 0
    output
      display inline
      &:empty:before
        content "$ 0.00"
  form.total
    output, label
      font-size large
    output
      margin-left 1em

  // The total in the footer

// The Google Sign-In button
#signin2
  display inline-block
body.authenticated
  .alert.authenticate
    display none
body.unauthenticated
  .alert.authenticate
    display block
