.panel-group#order-panels
  | {{#orders}}
  .order.panel(class="{{status}}" class="panel-{{context}}")
    .panel-heading
      h4.panel-title
        a.customer(data-toggle="collapse" data-parent="#order-panels" href="#order-{{id}}")
          | {{customer}}
          small.status.pull-right {{items.open.length}} {{status}}
    .panel-collapse.collapse(id="order-{{id}}")
      .panel-body
        ul.list-group
          | {{#items}}
          .li.list-group-item.order-item(id="order-item-{{id}}" class="list-group-item-{{context}} {{status}} {{commentClass}}")
            .container
              .row
                .col-xs-1
                  small.status {{ status }}
                .col-xs-6.description
                  span.qty {{qty}}
                  small ×
                  span.product {{product}}
                .col-xs-5
                  form.form.form-inline.open
                    .btn-group
                      button.btn.btn-success(type="button" name="action") Sell
                      button.btn.dropdown-toggle.btn-success(type="button" name="chooseAction" data-toggle="dropdown")
                        span.caret
                        span.sr-only Toggle dropdown
                      ul.dropdown-menu
                        li: a(href='javascript:void') Sell
                        li: a(href='javascript:void') Hold
                        li: a(href='javascript:void') Short
                        li.divider
                        li: a(href='javascript:void') Delete
                  form.form.form-inline.sold
                    small.price {{getPrice}}
                    .btn-group
                      button.btn.btn-default(type="button" name="action") Undo
                  form.form.form-inline.hold
                    .btn-group
                      button.btn.btn-primary(type="button" name="action") Open
                      button.btn.dropdown-toggle.btn-primary(type="button" name="chooseAction" data-toggle="dropdown")
                        span.caret
                        span.sr-only Toggle dropdown
                      ul.dropdown-menu
                        li: a(href='javascript:void') Open
                        li: a(href='javascript:void') Short
                        li.divider
                        li: a(href='javascript:void') Delete
                  form.form.form-inline.short
                  form.form.form-inline.selling
                    .input-group
                      span.input-group-addon $
                      input.form-control(type="number" name="price" step="0.05" min="0.0" placeholder="Price" )
                      .input-group-btn
                        button.btn.btn-danger.action(type='button' name="action") {{action}}
                        button.btn.btn-danger.dropdown-toggle(type='button' class="{{status}}" data-toggle="dropdown")
                          span.caret
                          span.sr-only Choose action
                        ul.dropdown-menu.dropdown-menu-right
                          li
                            a.action(href='sell' data-action="sell") Sell
                            a.action(href='hold' data-action="hold") Hold
                            a.action(href='short' data-action="short") Short
                            a.action(href='delete' data-action="delete") Delete
          | {{/items}}
        p.comment {{comment}}
  | {{/orders}}
